.load{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.load>img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/*========home========*/
body{
    position: relative;
    overflow: hidden;
}
.home{
    position: relative;
    height: 100vh;
    background: url("../img/background.png");
    background-size: cover;
}
.btn1{
    position: absolute;
    left: 78%;
    top: 5%;
    width: 19%;
    height: 9%;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 46px;
    background-color: transparent;
    margin: auto;
}

/*=================*/
.exit{
    position: absolute;
    width: 7%;
    height: 16%;
    left: 90%;
    top: 17%;
    border-radius: 20px;
    background-color: #3b3d41;
}
.exit:hover{
    cursor: pointer;
    background-color: white;
}
.exit>img{
    position: absolute;
    width: 121%;
    top: 0;
    right: 0;
    left: -9px;
    bottom: 0;
    margin: auto;
}
.arrows{
    position: absolute;
    background-color: #3b3d41;
    width: 9%;
    height: 17%;
    left: 89%;
    top: 69%;

    border-radius: 20px;
}
.arrows>img{
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn1:hover{
    cursor: pointer;
    border-color: white;
    color: white;
}
.timer{
    width: 1%;
    height: 27.5%;
    position: relative;
    left: -29%;
    top: 65%;
    z-index: 1;
    margin: auto;
    border-radius: 8px;
    border: solid 2px red;
    display: flex;
    flex-wrap: wrap;
}
.timer>h1{
    position: absolute;
    left: -5rem;
    width: 6rem;
    color: #65e91e;
    top: 9rem;
}
.innerTimer{
    width: 13px;
    height: 27.5%;
    position: absolute;
    left: -1px;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    background-color: green;
    /*animation: animate;
    animation-duration: 20s;
    animation-delay: 3s;*/
}
@keyframes animate {
    0%,10%{
        height: 27.5%;
    }10%,20%{
         height: 24%;
     }20%,30%{
          height: 21%;
      }30%,40%{
           height: 18%;
       }40%,50%{
            height:15%;
        }50%,60%{
             height: 12%;
         }60%,70%{
              height: 9%;
          }70%,80%{
               height: 6%;
           }80%,90%{
                height: 3%;
            }90%,100%{
                 height: 1%;
             }
}
.levels{
    position: absolute;
    left: 17%;
    top: 14%;
    color: #979ca5;
    font-size: 25px;
}
.levels>div{
    position: relative;
    width: 6rem;
    height: 2rem;
    margin-top: 23px;
    border: 1px solid green;
    border-radius: 5px;
}
.levels>div>h5{
    position: absolute;
    top: 4px;
    left: 16px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.goIndicator{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 14%;
    top: 79%;
}
/*=================*/
.winMsg{
    position: absolute;
    width: 40rem;
    height: 17rem;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #1b1e25;
}
.innerBorder{
    position: absolute;
    width: 37rem;
    height: 14rem;
    border: 5px solid red;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: red;
}
.innerBorder>h1{
    display: inline;
    position: absolute;
    left: 12rem;
    right: 0;
    top: 1rem;
    bottom: 0;
    font-size: 100px;
    margin: auto;
}
.innerBorder>h2{
    display: inline;
    position: absolute;
    left: 14rem;
    right: 0;
    top: 10rem;
    bottom: 0;
    color: white;
    font-size: 40px;
    margin: auto;
}
.innerBorder>h2:hover{
    cursor: pointer;
    color: greenyellow;
}
.blast{
    position: absolute;
    width: 40rem;
    height: 17rem;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #1b1e25;
}
.timeOut{
    position: absolute;
    width: 40rem;
    height: 17rem;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #1b1e25;
}
/*=================*/
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../img/gameback.jpg");
}
#grid{
    height: 95%;
    position: absolute;
    top: 0;
    left: 4%;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
#grid div{
    width: 8.5%;
    height: 8%;
}
.other{
    border: 1px solid #c20000;
}
.challenge{
    background: url("../img/terorist.webp");
    background-size: cover;
    border: 1px solid white;
    border-radius: 20%;
}
.bomb{
    /*background-color: black;
    border-radius: 20%;
    width: 50px;!important;
    height: 40px;!important;*/
    background: url("../img/bomb3.gif");
    background-size: cover;
    border-radius: 20%;
    border: 1px solid #f8e6c6;
}
.path{
    background-color: #171a1f;
    border-radius: 20%;
    border: 1px solid #2f4f4f;
}
.runner{
    background: url("../img/runner.gif");
    background-size: cover;
    border-color: chartreuse;
}
.target{
    background: url("../img/flag2.gif");
    background-size: cover;
    background-color: white;
}